<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>

<% if @log.user == current_user %>
  <%= link_to 'Edit', edit_log_path(@log) %> |
  <%= link_to 'Back', logs_path %>
<% end %>